#project_page_content_text {
  margin-top: 20px;
}

.article_image {
  float: left;
  padding: 20px 20px 10px 40px;
  height:15vin;
  width: 160px;
}

/* Narrow screen style */
@media only screen and (max-width: 800px) {
  .article_image {
    padding-left: 5vw;
    width: 20vmin;
  }
}

/* Very narrow screen style */
@media only screen and (max-width: 600px) {
  .article_image {
    padding-left: 30px;
  }
}