.history_card {
  display: flex;
  align-items: center;
}

.card_segment {
  text-align: left;
  color: white;
  text-decoration: none;
  max-width: 400px;
}

.card_segment:hover {
  font-size: 1.2em;
  cursor: pointer;
}

.history_card_icon {
  float: left;
  font-size: 200%;
  height: 40px;
  width: 40px;
  padding: 5px;
}

.large_icon {
  font-size: 300%;
  height: 110px;
  width: 70px;
  padding-top: 30px;
  box-sizing: border-box;
}

.history_card_title, .history_card_text {
  margin: 0px;
  padding: 5px;
}

.history_card_title {
  display: inline-block;
  width: calc(100% - 60px);
}

.card_line {
  height: 100%;
  width: 100px;
}

#time_line_partial .card_segment{
  margin-bottom: 50px;
}
#time_line_partial  .card_line {
  margin: 20px 2px;
  width: 50px;
}
#time_line_partial .history_card {
  align-items: flex-start;
  justify-content: flex-start;
}


/* Mobile/Tablet screen display styles */
@media only screen and (max-width: 800px) {
  .card_segment {
    margin-bottom: 50px;
  }
  .card_line {
    margin: 20px 2px;
    width: 50px;
  }
  .history_card {
    align-items: flex-start;
    justify-content: flex-start;
  }
}