
header {
  overflow: hidden;
  font-size: 24px;
  background-color: #35707a;
}


#github_link, #linkedin_link {
  padding-top: 12px;
  width: 8%;
}

#github_link img, #linkedin_link img {
  height: 40px;
  width: 40px;
}

.icon {
  color: black;
  background: none;
  border: 2px solid #AAA;
  font-size: 34px;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.icon:hover {
  cursor: pointer;
}


/* Desktop conditional styles */
@media only screen and (min-width: 800px) {
  .icon {
    display: none;
  }

  #top_nav {
    display: flex;
    justify-content: space-evenly;
  }
}

/* Mobile/Tablet conditional styles */
@media only screen and (max-width: 800px) {
  

  #top_nav {
    display: block;
    text-align: left;
  }

  
  
  .icon {
    display: inline-block;
  }

  /* Responsive template */
  .responsive a {
    display: block !important;
    width: 100% !important;
  }

  .responsive #contact_link{
    width: calc(100% - 130px) !important;
    display: inline-block !important;
    vertical-align: text-bottom;
  }

  .responsive #github_link, .responsive #linkedin_link {
    width: 65px !important;
    display: inline-block !important;
    text-align: center;
    padding-left: 0px;
    vertical-align: text-bottom;
  }

}