
header {
  overflow: hidden;
  font-size: 24px;
  background-color: #35707a;
}

.icon {
  color: black;
  background: none;
  border: 2px solid #AAA;
  font-size: 34px;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.icon:hover {
  cursor: pointer;
  background-color: #5ba35e;
}


/* Desktop conditional styles */
@media only screen and (min-width: 800px) {
  .icon {
    display: none;
  }

  #top_nav {
    display: flex;
  }
  
  #page_links {
    display: flex;
    justify-content: stretch;
  }

}

/* Mobile/Tablet conditional styles */
@media only screen and (max-width: 800px) {
  #top_nav , #page_links{
    display: block;
  }
  
  .icon {
    display: inline-block;
  }

  /* Responsive template */
  .responsive #page_links {
    width:100% !important;
  }
  /* 

  .responsive #contact_link{
    width: calc(100% - 130px) !important;
    display: inline-block !important;
    vertical-align: text-bottom;
  }

  .responsive #github_link, .responsive #linkedin_link {
    width: 65px !important;
    display: inline-block !important;
    text-align: center;
    padding-left: 0px;
    vertical-align: text-bottom;
  } */

}