.page_link {
  display: inline-block;
  height: 65px;
  padding-top: 17px;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
  border: 1px solid #DDD;
}

/* Navigation highlighting hover and active options */
.page_link:hover{
  background-color: #5ba35e;
}
.page_link.active {
  background-color: #417542;
}

/* Mobile/Tablet conditional styles */
@media only screen and (max-width: 800px) {
  a:not(.active).page_link {
    display: none;
  }

  a.page_link {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    width: auto !important;
    float: left;
  }

  /* Responsive template */
  .responsive a.page_link {
    display: block;
    width:100% !important;
  }

  .responsive #contact_link{
    width: calc(100% - 130px) !important; /* Must change based on number of external links */
    display: inline-block !important;
    vertical-align: text-bottom;
  }

}