.history_card {
  margin: 10px;
  width: 75%;
  max-width: 400px;
  text-align: left;
}

.history_card_icon {
  float: left;
  font-size: 200%;
  height: 40px;
  width: 40px;
  padding: 5px;
}

.history_card_title, .history_card_text {
  margin: 0px;
  padding: 5px;
}

.history_card_title {
  display: inline-block;
  width: calc(100% - 60px);
}
