#title_image {
  padding: 5vmin;
  height: 40vh;
  width: 80vw;
  max-width: 480px;
  display: block;
}

/* Narrow screen style */
/* @media only screen and (max-width: 800px) {
  #title_image {
    padding: 40px;
    width: 400px;
  }
} */

/* Very Narrow screen style */
/* @media only screen and (max-width: 500px) {
  #title_image {
    width: 80%;
  }
} */