
#home {
  color: white;
  text-align: left;
  overflow-y: scroll;
}

#page_title, #home p {
  margin: 0px;
  padding: 40px 50px;
  font-size: 40px;
}

#home p {
  padding: 0px 50px 20px 50px;
  font-size: 24px;
}

#title_image {
  padding: 40px;
  width: 60%;
  max-width: 480px;
}