
#page_title, .subtitle, .link {
  margin: 0px;
  padding: 40px 50px;
  font-size: 40px;
  color: white;
  text-align: left;
}

.subtitle, .link {
  padding: 0px 50px 20px 50px;
  font-size: 24px;
}

.link {
  float: left;
  color: #BBB;
  text-decoration: none;
}

#title_image {
  padding: 40px;
  width: 60%;
  max-width: 480px;
  display: block;
}

#about_image {
  padding: 40px;
  width: 80%;
  max-width: 1000px;
}

/* Small mobile device screen style */
@media only screen and (max-width: 500px) {
  #page_title {
    font-size: 8vw;
  }
  .subtitle, .link {
    font-size: 4.8vw;
  }
}