
header {
  overflow: hidden;
  font-size: 24px;
  background-color: #35707a;
}

header a {
  display: inline-block;
  height: 65px;
  width: 14%;
  padding-top: 20px;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
  border: 1px solid #DDD;
}

#github_link, #linkedin_link {
  padding-top: 12px;
  width: 8%;
}

#github_link img, #linkedin_link img {
  height: 40px;
  width: 40px;
}

.icon {
  color: black;
  background: none;
  border: 2px solid #AAA;
  font-size: 34px;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.icon:hover {
  cursor: pointer;
}

/* Navigation highlighting hover and active options */
#top_nav a:hover{
  background-color: #5ba35e;
}
#top_nav a.active {
  background-color: #417542;
}

/* Desktop conditional styles */
@media only screen and (min-width: 800px) {
  .icon {
    display: none;
  }

  #top_nav {
    display: flex;
    justify-content: space-evenly;
  }
}

/* Mobile/Tablet conditional styles */
@media only screen and (max-width: 800px) {
  header a:not(.active) {
    display: none;
  }

  #top_nav {
    display: block;
    text-align: left;
  }

  header a {
    text-align: left;
    padding-left: 20px;
    width: 110px
  }
  
  .icon {
    display: inline-block;
  }

  /* Responsive template */
  .responsive a {
    display: block !important;
    width: 100% !important;
  }

  .responsive #contact_link{
    width: calc(100vw - 144px) !important;
    display: inline-block !important;
    vertical-align: text-bottom;
  }

  .responsive #github_link, .responsive #linkedin_link {
    width: 65px !important;
    display: inline-block !important;
    text-align: center;
    padding-left: 0px;
    vertical-align: text-bottom;
  }

}