.text_content {
  margin: 0px;
  padding: 0px 50px 20px 50px;
  font-size: 24px;
  color: white;
  text-align: left;
}


/* Small mobile device screen style */
@media only screen and (max-width: 500px) {
  .text_content {
    font-size: 4.8vw;
  }
}